body {
    margin-left: 0px;
    margin-right: 0px;
    font-family: -apple-system, "Helvetica", serif;
}

footer {
    margin: 5px;
    font-size: 0.8em;
}

section * {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

#TOC_h1 {
    font-size: 3em;
    font-weight: 900;
}

#faq_h2 {
    font-size: 1.6em;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 50px;
}

h1, h2, h3, p.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

p.faq_answer {
    color: dimgray;
}

a:visited {
    text-decoration: none;
    color: black;
}

button {
    font-size: 1em;
    font-weight: 500;
    background-color: white;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    color: black
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.featured {
    background-color: #40BCFF;
    color: white;
}